*, ::after, ::before {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    font-family:sans-serif !important
}
input {outline:none;}
html {
    box-sizing: border-box;
    overflow-x: hidden !important;
}

body {
    width: 100vw;
    font-family:sans-serif
}
h1,h2,h3,h4,h5,h6{
    font-family:sans-serif
}
